@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow: #fdc964;
  --box-color: #1e1e1e;
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.side-bar {
  background: var(--box-color);
}
.side-bar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}
.side-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.side-icon {
  color: var(--yellow);
}
.navbar {
  display: flex;
  justify-content: end;
  margin-left: 30px;
}
.navbar ul li {
  font-weight: 500;
}
.bg-navbar {
  background: #2d2d2d;
}
.about {
  background: var(--box-color);
  color: #ffff;
}
.resume {
  background: var(--box-color);
  color: #ffff;
}
.contact {
  background: var(--box-color);
  color: #ffff;
}
.portfolio {
  background: var(--box-color);
  color: #ffff;
}
.p {
  line-height: 1.7rem;
  color: #d4d1d1;
}
